@import "../../util/variables";

.white {
    color: white;
}

.marginBottom {
    margin: {
        bottom: 4 * $unit;
    }
}

.paper {
    padding: 6 * $unit;
    margin: {
        bottom: 6 * $unit;
    }
}
